Repository hmcts/ia-timed-event-service, pull requests merged in 2020-07, with the labels that each got.

#23 remove idam header + functional test fix
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/timedevent/scenarios/RequestHearingRequirementsFunctionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/testutils/WithIdamStub.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/clients/IdamApi.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-23

#25 fix security vulnerability
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-25

#24 RIA-3446 upgrading to Java11
  .travis.yml
  Dockerfile
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-24

#26 fix mutation tests for Java 11
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-26
