Repository hmcts/ia-timed-event-service, pull requests merged in 2020-10, with the labels that each got.

#33 Azure upgrade v2.x
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-33

#35 Owasp upgrade 6.0.2
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-35

#34 Terraform 0.13.4
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-34

#36 RIA-3495-Remove Postgres v10 database
  charts/ia-timed-event-service/Chart.yaml
  charts/ia-timed-event-service/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-36

#40 remove system user health check
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/health/SystemUserHealthIndicator.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/health/SystemUserHealthIndicatorTest.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-40
