Repository hmcts/ia-timed-event-service, pull requests merged in 2021-01, with the labels that each got.

#44 fixing security vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-44

#43 RIA-3777 upgrade Spring boot to version 2.3.3.RELEASE
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-43

#45 add more flexible model
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/clients/model/idam/UserInfo.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-45
