Repository hmcts/ia-timed-event-service, pull requests merged in 2022-09, with the labels that each got.

#85 Suppress vulns
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-85

#84 Address remaining vulnerabilities
  Dockerfile
  audit.json
  build.gradle
  config/owasp/suppressions.xml
  security.sh
  src/functionalTest/java/uk/gov/hmcts/reform/timedevent/TimedEventResponseFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/timedevent/testutils/data/CaseDataFixture.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/testutils/WithIdamStub.java
  src/main/java/uk/gov/hmcts/reform/timedevent/Application.java
  src/main/java/uk/gov/hmcts/reform/timedevent/domain/services/EventExecutor.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/config/QuartzConfiguration.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/TimedEventController.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/advice/SchedulerExceptionHandlerControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/entities/EventExecution.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/entities/TimedEvent.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/entities/ccd/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/entities/ccd/EventNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/entities/ccd/Value.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/services/EventExecutor.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/services/SchedulerService.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/oauth2/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/CcdEventExecutor.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/QuartzSchedulerService.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/RetryJobListener.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/TimedEventJob.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/timedevent/domain/entities/ccd/DynamicListTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/domain/entities/ccd/EventNotFoundExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/domain/entities/ccd/ValueTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/TimedEventControllerTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/advice/SchedulerExceptionHandlerControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/oauth2/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/CcdEventExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/QuartzSchedulerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/RetryJobListenerTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/TimedEventJobTest.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-84

#86 RIA-6223 Adding endAppealAuto event to legal rep for submit event
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-86
