Repository hmcts/ia-timed-event-service, pull requests merged in 2023-11, with the labels that each got.

#131 DIAC-113 Update postgres flexible server db module name
  infrastructure/main.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-timed-event-service-pr-131

#132 DIAC-113 Add terraform module for timed-event-service db flexible server
  charts/ia-timed-event-service/Chart.yaml
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-timed-event-service-pr-132

#129 DIAC-70 adding smoke, unit, integration testing and reports to nightly build
  Jenkinsfile_nightly
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/testutils/SpringBootIntegrationTest.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-129

#136 DIAC-113 delete ia-timed-event-service postgres flexible server in demo
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-timed-event-service-pr-136

#137 DIAC-113 delete ia-timed-event-service postgres flexible server in perftest
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-timed-event-service-pr-137

#138 DIAC-113 delete ia-timed-event-service postgres flexible server in ITHC
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, destroy, rel:ia-timed-event-service-pr-138

#142 DIAC-173 dependency fixes and pr validation update
  .github/workflows/pr-title-validation.yml
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-142
