Repository hmcts/ia-timed-event-service, pull requests merged in 2024-04, with the labels that each got.

#169 DIAC-354 fixing dependencies
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-169

#171 RIA-8064 Timed_event_permissions
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/timedevent/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-171

#173 RIA-0000 Update to fix test data on functional test scenarios
  src/functionalTest/resources/templates/minimal-appeal-started.json
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-173
