Repository hmcts/ia-timed-event-service, pull requests merged in 2024-06, with the labels that each got.

#174 DIAC-401 bump chart version
  charts/ia-timed-event-service/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-174

#175 DIAC-401 update charts
  infrastructure/state.tf
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-timed-event-service-pr-175

#176 DIAC-507 - DTSSE-5078 - Add stale bot
  .github/workflows/stale.yml
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-176
