Repository hmcts/ia-timed-event-service, pull requests merged in 2024-01, with the labels that each got.

#111 RIA-7757 Integration tests on retry logic
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/RetryLogicIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/testutils/TestClassOrderer.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/junit-platform.properties
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/TimedEventController.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/services/SchedulerService.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/QuartzSchedulerService.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/RetryJobListener.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/TimedEventJob.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/TimedEventControllerTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/QuartzSchedulerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/RetryJobListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-111

#119 DIAC-32 - Reduced logging in RetryJobListener
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/services/quartz/RetryJobListener.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-119

#155 DIAC-123 making functionals less flakey
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/timedevent/scenarios/EndAppealAutomaticallyFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/timedevent/scenarios/RequestHearingRequirementsFunctionTest.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-155

#157 DIAC-123 Fixing test flakiness
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/timedevent/testutils/data/IdamAuthProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/RetryLogicIntegrationTest.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-157

#95 RIA-6987 - Changes to add cache
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/GetWelcomeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/PostTimedEventIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/support/GetSystemUserIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/support/GetTokenIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/timedevent/infrastructure/controllers/support/PostExecuteEventIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/domain/services/IdamService.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/oauth2/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/oauth2/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/oauth2/IdamSystemUserProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/timedevent/domain/services/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/oauth2/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/timedevent/infrastructure/security/oauth2/IdamSystemUserProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-timed-event-service-pr-95, enable_keep_helm
